<div class="sign-up">
  <div class="col-md-6">
    <h3>Sign Up With Linkedin</h3>
    <%= link_to "Sign Up", omniauth_authorize_path(:user, :linkedin, d: params["d"]), class: 'btn btn-primary' %>
  </div >
</div>
