<div id="myCarousel" class="jumbotron">
  <div class="container">
    <div class="text-lg-left">
      <h1>You're Almost There!</h1>
      <p>Credits are used for applying to multiple jobs at once. You can do it
        the old fashioned way and apply to each one individually, or you can
        become the wizard you were born to be, and apply to all of them at the
        same time.
      </p><br>
      <p> Each credit is an acceptance letter to Hogwarts, we promise.</p>
    </div>
  </div>
</div>
<% if current_user.parent_code == nil %>
    <div class="">
        <!-- Three columns of text below the carousel -->
      <div class="row offset-md-3 ">
        <!-- /.col-lg-4 product-div jumbotron panel --><!-- /.col-lg-4 -->
        <div class="col-md-6  product-div jumbotron card">
          <h4>5 Credits</h4>
          <h5 class='old-price'>$318.97</h5>
          <h3 class='new-price'>$209.97</h3>
          <% if @job_id != nil %>
            <p><%= link_to "Purchase", new_charge_path(credits: 5, amount:20997, j_id: @job_id), class: 'btn btn-primary' %></p>
          <% else %>
            <p><%= link_to "Purchase", new_charge_path(credits: 5, amount:20997), class: 'btn btn-primary' %></p>
          <% end %>
        </div><!-- /.col-lg-4 product-div -->
      </div><!-- /.row -->
    </div>
<% else %>
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="col-lg-4 product-div jumbotron card">
          <h4>10 Credits</h4>
          <h5 class='old-price'>$318.97<h5>
          <h3 class='new-price'>$199.97</h3>
          <% if @job_id != nil %>
            <p><%= link_to "Purchase", new_charge_path(credits: 5, amount:19997, j_id: @job_id), class: 'btn btn-primary' %></p>
          <% else %>
            <p><%= link_to "Purchase", new_charge_path(credits: 5, amount:19997), class: 'btn btn-primary' %></p>
          <% end %>
        </div><!-- /.col-lg-4 product-div -->
      </div><!-- /.row -->
    </div>
<% end %>
