<div class="row">
  <div class="col-md-4 jumbotron share-tron">
    <div class="icon">
      <i class="material-icons">&#xE7F0;</i>
    </div>
    <h3>Invite A Friend</h3>
  </div>
  <div class="col-md-4 jumbotron share-tron">
    <div class="icon">
      <i class="material-icons">&#xE0DF;</i>
    </div>
    <h3>They Get Up To $80 Off<strong class="attention-word"> For Life</strong></h3>
  </div>
  <div class="col-md-4 jumbotron share-tron">
    <div class="icon">
      <i class="material-icons">&#xE815;</i>
    </div>
    <h3>You get $25.00 <strong class='attention-word'>every</strong> time they buy</h3>
  </div>
</div>

<div class='jumbotron'>
  <div class='row'>
    <h1 class="text-center offset-md-4">Share This Link</h1>
    <div class="container">
        <% if user_signed_in? %>
      <div class="share-tron offset-md-3 col-lg-6">
          <h2><%= @share_url %></h2>
      </div>
        <% else %>
          <%= link_to "Sign in to get your code", new_user_session_path, class: 'btn btn-primary'%>
        <% end %>
    </div>
  </div>
  <br>
</div>
