<div class="col-lg-6  main-title">
  <h1>Life Should Be Fun</h1>
</div>
<div class="col-lg-6 container">
  <div class="jumbotron">
    <h2>Your're a wizard, Harry</h2>
    <h5 class="subtitle">Sign in to apply to all jobs at once!</h5>
      <%= render 'layouts/landing' %>
  </div>
</div>
