<div class=''>
  <%= link_to "Log In", user_linkedin_omniauth_authorize_path, class: 'btn btn-primary', id:"linkedin-sign-up" %>
</div>
<script>
  $("#linkedin-sign-up").click(function(){
      fbq('track', 'Lead');
  })
</script
